R2_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
R2_BUCKET=certificate-bucket-1
R2_PREFIX=nginx
AWS_ACCESS_KEY_ID=<r2-access-key-id>
AWS_SECRET_ACCESS_KEY=<r2-secret-access-key>

SOURCE_TREE=/mnt/nginx_local
CERT_ISSUER_SCRIPT=/usr/local/bin/certs
WORK_ROOT=/opt/nginx-publisher
KEEP_STAGE=false
DO_ISSUE_CERTS=true
DO_PUBLISH=true
PUBLISH_INTERVAL=12h
